@model IEnumerable<FaceitRankChecker.Models.Match>
@{
    ViewData["Title"] = "Matches";
}
<body style="background-color:#b0573c;">
    <div class="text-center">
        <h1 class="display-4", style="color: black">Match Information</h1>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Team 1</th>
                    <th>Team 2</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var match in Model)
                {
                    <tr>
                        <td>@match.Date.ToShortDateString()</td>
                        <td>@match.Team1</td>
                        <td>@match.Team2</td>
                        <td>@match.Score1 - @match.Score2</td>
                    </tr>
                }
            </tbody>
        </table>
</body>
