@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:#b0573c;">
    <div class="text-center">
        <h1 class="display-4", style="color: black">Callback</h1>
        <p>Nickname: @ViewData["nickname"]</p>
        <p>Email: @ViewData["email"]</p>
        <p>FirstName: @ViewData["name"]</p>
        <p>SecondName: @ViewData["familyname"]</p>
        <img src="@ViewData["picture"]"/>
     </div> 
</body>
